#banner_headline {
            font-size: 66px;
            color: #fff;
            line-height: 1.3;
            font-weight: 400;
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
	        gap: 8px;
            position: relative;
	        max-width: 800px;
        }

        .static-text {
            display: inline-block;
            white-space: nowrap;
        }

        .changing-word {
            display: inline-block;
           margin-left:10px;
            text-align: left;
            position: relative;
        }


.fade-content {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
	transition-delay: 0.5s;
}

.fade-content.show {
  opacity: 1;
  transform: translateY(0);
}

.gradient-bg-overlay:before
{
	opacity: 0;
	 transition: opacity 1s ease;
  transition-delay: 0.5s;
}

.gradient-bg-overlay.overlaybg:before
{
	opacity: 0.85;
	
}
.clip-path-bl{
    transition: 0.3s;
  overflow: hidden;
  color: #fff;
  padding: 30px;
 
}
.nisgaa-feature-post
{
   position: relative;
    overflow: hidden; 
}
.nisgaa-feature-post .bg-hover
{
   
    transition: transform 0.8s ease;
    
  
    
  
}
.nisgaa-feature-post:hover .bg-hover 
{
   transform: scale(1.2);   
}

.nisgaa-feature-post:hover .clip-path-bl{

}
.nisgaa-feature-post:hover .bg-hover .clip-path-bl
{
	 transform: scale(0); 
}
.nisgaa-feature-post:hover .bg-hover .clip-path-bl .featured-post-content{
    display: block;
	 transform: scale(0); 
}

.clip-path-bl .featured-post-content{
   display:none;
}

.clip-path-bl:hover .featured-post-content{
    display: block;
}



@media screen and (max-width: 767px) {
#banner_headline {
            font-size:30px;	
	 line-height: 1.3;
	max-width:100%;
	}
}
